* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body{
	background: tomato;
}

.header_2{
	background: orange;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
	
	.header_2_left{
		color: #fff;
		width: 900px;
		height: 100%;
		
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

		.header_2_img{
			width: 300px;
			height: 100px;

			display: flex;
			flex-flow: column;
		}

			.header_2_img img{
				width: 100%;
				object-fit: fill;
			}

		.eslogan{
			padding: 0.2em;
			font-size: 4em;
		}


	.header_2_right{
		width: 300px;
		height: 100%;

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

		.formulario_buscar{
			width: 100%;
			color: #fff;
			font-size: 1.1em;
			margin-right: 1em;

			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;
			align-content: center;
		}

			.inputs{
				height: 2.2em;
				border-radius: 0.5em;
				border: 0px;
			}

			.btn{
				padding: 0.6em 1.2em;
				font-weight: bold;
				cursor: pointer;
				border-radius: 0.5em;
				border: 0px;
			}



/*

	menu
*/

.menu_2{
	background: tomato;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center; 
}

	.link{
		padding: 0.2em 5em;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		color: #fff;
		text-decoration: none;
	}

.img{
	width: 200px;
}

table{
	margin: auto;
	text-align: center;
}

td{
	border: 1px solid #fff;
}

.suma{
	color: #fff;
}