* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}


a{
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

body{
	background: rgba(7, 22, 74, 0.2);
}


.contenido{
	width: 100%;
	height: auto;
	overflow: hidden;
}

	.cont-img{
		width: 100%;
		height: 700px;
		position: relative;

		display: flex;
		flex-flow: row nowrap;
	}

		.cont-img::after{
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0px;
			background: rgba(0, 0, 0, 0.6);
			z-index: 4;
		}

		.img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: relative;

			animation: fondo 8s infinite;
			animation-timing-function: ease-in-out;
			animation-direction: normal;
		}


@keyframes fondo {
  0% {
    left: 0%; }

  20% {
    left: -100%; }

  30% {
    left: -100%; }

  50% {
    left: -200%; }

  60% {
    left: -200%; }

  70% {
    left: -100%; }

  80% {
    left: -100%; }

  90% {
    left: 0%; }

  100% {
    left: 0%; } }



 /*
 		estilo de los formulario
 */  

 .contenido-2{
 	position: absolute;
 	top: 0px;

 	width: 100%;
 	height: auto;
 	z-index: 5;

 	display: flex;
 	flex-flow: column;
 	align-items: center;
 }

 	.titulo{
 		color: #1e88e5;
 		text-shadow: 1px 2px 2px #fff;
 	}

 	.form-login{
 		width: 450px;
 		height: 400px;
 		background: #fff;
		border-radius: 0.5em;
		box-shadow: 0px 0px 1em 0.5px rgba(0, 0, 0, 0.5);
		border-top: 50px solid #1e88e5;

 		display: flex;
 		flex-flow: column wrap;
 		justify-content: center;
 		align-items: center;
 	}

 		.input{
 			width: 85%;
 			border-color: #1e88e5;
 			margin-bottom: 1em;
 		}
