/*
media query

screen
1=> 1204 a 780
2=> 480 a 780
3=> 480

*/

*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

/*
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Bellefair', serif;
	font-family: 'Inconsolata', monospace;
	font-family: 'Fira Sans', sans-serif;
*/



a:hover{
	text-decoration: none;
}

body{
	background: rgba(0, 0, 0, 0.08);
}


h1{
	color: #bf360c;
	padding: 1em;
}

h2{
	padding: 1em;
	color: rgba(0, 0, 0 ,0.7);
}

/*
	Aqui comienza el menu
*/

.menu{
	display: flex;
	background: #e64a19;
	color: #fff;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

	.items-left{
		margin: 0px 1em;
	}	



	.items-right{
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
		.link{
			color: #fff;
			padding: 1em;
			text-decoration: none;
			cursor: pointer;
		}.link:hover{
			transition: 0.4s;
			background: rgba(0, 0, 0, 0.2);
			color: #fff;
		  }

		 .sing{
		 	padding: 1em 1.5em;
		 }


/*
	Aqui comienza el container
*/


.container{
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

	.descripcion{
		margin-top: 2em;

		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		align-content: center;
	}

	.word{
		padding:0.3px;
	}

	.ul{
		color: rgba(0, 0, 0, 0.8);
		font-size: 1.1em;
	}

	.bold{
		font-size: 1.1em;
		font-weight: bold;
		color: #283593;
	}

	.final{
		padding-bottom: 2em;
	}
	